<main role="main" class="container">
    <div class="starter-template">
      <h1>ADN Lavateka</h1>
      <br>
      <p class="lead">
        Esta Aplicacion Web realiza el registro de citas por usuario  para el lavadero.
        <br>
        Tiene un registro de Usuarios: cedula, nombre y telefono.
        <br>
        Tiene un registro de Citas: identificador Vehiculo y fecha.
        <br> 
        <br>
        Reglas de negocio:
        <br>
        <br>
        1- La programacion de las citas solo podra ser entre semana, es decir, los sabados y domingos no podran asignarse citas debido a un contrato externo
        <br>
        2- Hay servicio para dos tipos de vehiculos Motos con un valor de $10000 y Carros con un valor de $20000.
        <br>
        3- Las citas no pueden ser reprogramadas un dias antes de la fecha asignada y tampoco si ya fueron vencidas.
      </p>
    </div>
  </main>
  