<div class="container">
    <br>
    <div class="card row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Citas</h5>
            <button (click)="nuevaCita()" class="btn btn-primary btn-sm bi bi-person-plus-fill" id="botonCrearCita"> Crear Cita</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>CEDULA</th>
              <th>NOMBRE</th>
              <th>TELEFONO</th>
              <th>VEHICULO</th>
              <th>PLACA</th>
              <th>VALOR</th>
              <th>FECHA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cita of citas | async ; let i = index" class="text-center tablaCitas">
              <td>{{cita.id}}</td>
              <td>{{cita.vehiculo.usuario.cedula}}</td>
              <td>{{cita.vehiculo.usuario.nombre}}</td>
              <td>{{cita.vehiculo.usuario.telefono}}</td>
              <td>{{cita.vehiculo.tipoVehiculo.nombre}}</td>
              <td>{{cita.vehiculo.placa}}</td>
              <td>{{cita.vehiculo.tipoVehiculo.precioLavada}}</td>
              <td>{{cita.fecha | date:'dd-MM-yyyy'}}</td>
              <td>
                <button (click)="editarCita(cita)" class="btn btn-outline-secondary btn-sm bi bi-pencil-square" [id]="'botonEditarCita'+ i"> Editar</button>
                &nbsp;
                <button (click)="deleteCita(cita)" class="btn btn-outline-danger btn-sm bi bi-trash-fill" [id]="'botonEliminarCita' + i"> Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  